<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%if css==True%}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">

    {%endif%}

</head>
<body>
    <div class="header">
        <h1>PyGallery</h1>
    </div>

    <div class="gallery">
    {% for pic in image_names%}
    <img  src="/static/pics/{{pic}}" loading="lazy">
    {%endfor%}
    </div>
    

</body>
</html>